* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background-color: whitesmoke;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    color: grey;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
}

.container {
    height: 80%;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.left, .right {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: silver
}

#player-board, #enemy-board {
    display: flex;
   margin: 0 auto;
}
.left {
    height: 100%;
    width: 50%;
}

.right {
    height: 100%;
    width: 50%;
}

.row {
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
}

.square {
    width: 10%;
    height: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: teal;
}


